USE [GameReviewWebsite_CS643]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 9/17/2014 6:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- hi
CREATE TABLE [dbo].[Author](
	[AuthorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Genre] [nvarchar](150) NOT NULL,
	[Biography] [nvarchar](4000) NOT NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comment]    Script Date: 9/17/2014 6:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[GameReviewId] [int] NOT NULL,
	[GamerId] [int] NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Content] [nvarchar](4000) NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Game]    Script Date: 9/17/2014 6:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[GameId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](4000) NOT NULL,
 CONSTRAINT [PK_Game] PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Gamer]    Script Date: 9/17/2014 6:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gamer](
	[GamerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[AvatarUrl] [nvarchar](150) NOT NULL,
	[Biography] [nvarchar](4000) NOT NULL,
	[Password] [nvarchar](10) NOT NULL CONSTRAINT [DF_Gamer_Password]  DEFAULT ((123)),
 CONSTRAINT [PK_Gamer] PRIMARY KEY CLUSTERED 
(
	[GamerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GameReview]    Script Date: 9/17/2014 6:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameReview](
	[GameReviewId] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NOT NULL,
	[AuthorId] [int] NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Content] [nvarchar](4000) NOT NULL,
	[Rating] [decimal](2, 1) NOT NULL,
 CONSTRAINT [PK_GameReview] PRIMARY KEY CLUSTERED 
(
	[GameReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Author] ON 

GO
INSERT [dbo].[Author] ([AuthorId], [Name], [Genre], [Biography]) VALUES (1, N'Chris', N'FPS', N'Awesome Gamer that writes too much code!')
GO
INSERT [dbo].[Author] ([AuthorId], [Name], [Genre], [Biography]) VALUES (2, N'Chad', N'MMO', N'MMO expert with the drive and dedication to out game you all!')
GO
INSERT [dbo].[Author] ([AuthorId], [Name], [Genre], [Biography]) VALUES (3, N'ReviewBot', N'All', N'Bot that reviews games based on consensus.')
GO
SET IDENTITY_INSERT [dbo].[Author] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

GO
INSERT [dbo].[Comment] ([CommentId], [GameReviewId], [GamerId], [Title], [Content]) VALUES (1, 1, 7, N'Big fast thrills.', N'Amazing game should def play.')
GO
INSERT [dbo].[Comment] ([CommentId], [GameReviewId], [GamerId], [Title], [Content]) VALUES (3, 1, 4, N'Only 8 hours.', N'Only 8 hours to end game!')
GO
INSERT [dbo].[Comment] ([CommentId], [GameReviewId], [GamerId], [Title], [Content]) VALUES (4, 1, 6, N'Fast Paced', N'For such a fast paced game, it still takes great strategy!')
GO
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Game] ON 

GO
INSERT [dbo].[Game] ([GameId], [Title], [Description]) VALUES (1, N'Destiny', N' MMOFPS with epic story and action.')
GO
INSERT [dbo].[Game] ([GameId], [Title], [Description]) VALUES (2, N'World of Warcraft', N'Cause it will never die!')
GO
INSERT [dbo].[Game] ([GameId], [Title], [Description]) VALUES (3, N'Star Craft', N'RTS with spice')
GO
SET IDENTITY_INSERT [dbo].[Game] OFF
GO
SET IDENTITY_INSERT [dbo].[Gamer] ON 

GO
INSERT [dbo].[Gamer] ([GamerId], [Name], [AvatarUrl], [Biography], [Password]) VALUES (1, N'MMO Man', N'wow.com/wowy.jpg', N'MMO RULES!', N'123')
GO
INSERT [dbo].[Gamer] ([GamerId], [Name], [AvatarUrl], [Biography], [Password]) VALUES (4, N'Fighter Fly', N'sigway.com/fighter.jpg', N'Like I Fikes.', N'123')
GO
INSERT [dbo].[Gamer] ([GamerId], [Name], [AvatarUrl], [Biography], [Password]) VALUES (5, N'Combo Dan', N'combos.com/combo.jpg', N'aaabb combo time', N'123')
GO
SET IDENTITY_INSERT [dbo].[Gamer] OFF
GO
SET IDENTITY_INSERT [dbo].[GameReview] ON 

GO
INSERT [dbo].[GameReview] ([GameReviewId], [GameId], [AuthorId], [Title], [Content], [Rating]) VALUES (1, 1, 1, N'Destiny Is amazing!', N'First persoj shooter with a massively multiplayer online elemnt! This epic game has all the action you will ever need and for all you stat junkies out there you will have to play this. Your stats will effect how your cooldowns help you blow stuff up! ', CAST(4.9 AS Decimal(2, 1)))
GO
INSERT [dbo].[GameReview] ([GameReviewId], [GameId], [AuthorId], [Title], [Content], [Rating]) VALUES (3, 11, 2, N'LOL', N'Its time to praise your favorite MOBS but I give it only a 3.5 since everyone in the game hates how I feed the enemy!', CAST(3.5 AS Decimal(2, 1)))
GO
INSERT [dbo].[GameReview] ([GameReviewId], [GameId], [AuthorId], [Title], [Content], [Rating]) VALUES (4, 4, 3, N'Great game! 5.0 must download! ', N'Pay the 99$ its woth it! please upvote this rview. Also buy coke its amazing!', CAST(5.0 AS Decimal(2, 1)))
GO
SET IDENTITY_INSERT [dbo].[GameReview] OFF
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Gamer] FOREIGN KEY([GamerId])
REFERENCES [dbo].[Gamer] ([GamerId])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Gamer]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_GameReview] FOREIGN KEY([GameReviewId])
REFERENCES [dbo].[GameReview] ([GameReviewId])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_GameReview]
GO
ALTER TABLE [dbo].[GameReview]  WITH CHECK ADD  CONSTRAINT [FK_GameReview_Author] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Author] ([AuthorId])
GO
ALTER TABLE [dbo].[GameReview] CHECK CONSTRAINT [FK_GameReview_Author]
GO
ALTER TABLE [dbo].[GameReview]  WITH CHECK ADD  CONSTRAINT [FK_GameReview_Game] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
GO
ALTER TABLE [dbo].[GameReview] CHECK CONSTRAINT [FK_GameReview_Game]
GO
ALTER TABLE [dbo].[GameReview]  WITH CHECK ADD  CONSTRAINT [CK_GameReview_Rating_Between_0And5] CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[GameReview] CHECK CONSTRAINT [CK_GameReview_Rating_Between_0And5]
GO
